@import '../../scss/variables.scss';

.addDocument form {
    button {
        display: flex;
        align-items: center;

        label {
            cursor: pointer;
            font-weight: 600;
            font-size: 12px;
            letter-spacing: 0.5px;
            color: $text-blue;
            text-transform: $material-textTransform;
            margin-left: 10px;
        }
    }

    .add {
        margin-top: 15px;
        background-color: $text-blue;
        color: #fff;
        width: 100%;
        border-radius: $border-radius-l;
        height: 46px;
        text-transform: $material-textTransform;
    }

    .file-title {
        font-size: 12px;
        color: $text-blue;
        text-align: center;
        margin-top: 15px;
    }

}

#file-upload {
    display: none;
}