@import '../../scss/variables.scss';

.preloader {
    width: 80px;
    height: 67px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .square {
        background: $text-blue-primary;
        width: 50px;
        height: 50px;
        margin: 0 auto;
        border-radius: 4px;
        animation-fill-mode: both;
        animation: $animation-motion;

        .path {
            height: 10px;
            width: 110px;
            overflow: hidden;
            position: absolute;
            bottom: 0;
            left: 0;

            div {
                background: #444;
                width: 10px;
                height: 10px;
                border-radius: 2px;
                margin: 0 15px;
                position: absolute;
                top: 0;
                left: 0;
                animation-fill-mode: both;
                animation: $animation-dynamic;
            }

            div:nth-child(1) {
                left: 40px;
            }

            div:nth-child(2) {
                left: 80px;
            }

            div:nth-child(3) {
                left: 120px;
            }

            div:nth-child(4) {
                left: 160px;
            }

            div:nth-child(5) {
                left: 200px;
            }

            div:nth-child(6) {
                left: 240px;
            }

            div:nth-child(7) {
                left: 280px;
            }
        }
    }
}

@keyframes motion {
    50% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes dynamic {
    0% {
        transform: translateX(-40px);
    }

    25% {
        transform: translateX(-80px);
    }

    50% {
        transform: translateX(-120px);
    }

    75% {
        transform: translateX(-160px);
    }

    100% {
        transform: translateX(-200px);
    }
}